footer {  
    background-color:#CE0033;  
    height: 70px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
   
footer span { 
    color: white;  
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;  
} 
    
